@charset "utf-8";
/* CSS Document */	
#abortion_video {
	z-index: -1;
	position: fixed;
    top: 0;
    right: 0;
}

#paragraph_container {
	margin-top: 500px;
	z-index: 1;
	width: 100%;
	height: 1000px;
	background-color: black;
}